.wrapper_input {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px;
}

input {
    width: 50px;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 5px 0;
    margin: 10px;
    border: 1px solid #000;
    outline: none;
}    