.wrapper {
  background: rgba(0, 0, 0, 0.123);
  width: 100%;
  min-height: 500px;
  padding: 10px;
}

.item {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
  align-items: flex-end;
}
.name {
  color: #fff;
}
.message {
  width: calc(100% - 100px);
  background: rgba(0, 0, 0, 0.102);
  padding: 5px;
  border-radius: 5px;
}