#section2 {

}

.section2 {
  .container {
    padding: 0;
  }
    .python1 {
      height: 1px;
      top: 0;
      right: 0;
      width: 59%;
    }
    .python2 {
      height: 100%;
      top: 0;
      right: 0;
      width: 1px;
    }
    .python3 {
      height: 1px;
      right: 0;
      bottom: 0;
      width: 4%;
    }
    .python4 {
      height: 1px;
      left: 0;
      bottom: 0;
      width: 52%;
    }

  &__desktop {
    position: relative;
    margin-top: rem(56);
  }

  &__header {
    position: absolute;
    top: 0;
    width: 38.24%;
    height: rem(90);
    background: url(/img/bg_lin_small.jpg) ;
    box-shadow: rem(4) rem(4) rem(8) rgba(0, 0, 0, 0.6);
    font-size: rem(40);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__left {
    margin-top: rem(34);
    padding-left: rem(50);
    padding-bottom: rem(34);
    width: 74.5%;
    color: $mainFontColor2 ;
    background: url(/img/bg_gray.jpg);
    box-shadow: rem(4) rem(4) rem(8) rgba(0, 0, 0, 0.6);
    margin-bottom: rem(47);
    
    &__content {
      padding-top: rem(122);
      padding-bottom: rem(50);
      width: 73.84%;
      display: none;
      &:nth-child(1) {
        display: flex;
      }
    }
    &__text {
      width: 67.32%;
      min-height: rem(200);
    }
    &__head {
      font-size: rem(30);
      font-weight: 600;
      line-height: sep(37, 30);
    }
    &__description {
      font-size: rem(20);
      line-height: pes(32, 20);
      margin-top: rem(25);
    }
    &__img {
      display: flex;
      width: 32.68%;
      justify-content: center;
      align-items: flex-start;
      img {
        width: 53%;
      }
    }
  }

  &__right {
    width: 38.24%;
    position: absolute;
    top: rem(90);
    right: 5.8%;
    background: url(/img/bg_dark.jpg);
    box-shadow: rem(4) rem(4) rem(8) rgba(0, 0, 0, 0.6);
    padding-top: rem(60);
    &__item{
      display: flex;
      align-items: center;
      cursor: pointer;
      height: rem(50);
      padding-left: rem(96);
      margin: rem(17) 0;
      &_active {
        background: url(/img/bg_lin_small.jpg);
      }
    }
    &__round {
      width: rem(10);
      height: rem(10);
      margin-right: rem(20);
      background: #F4841A;
      border-radius: 50%;
      &_active {
        background: transparent;
      }
    }
    &__text {
      font-size: rem(16);
      font-weight: 500;
    }
  }
 
}







@media screen and (max-width: $desktopWidth) {
  .section2 {
    &__left__text {
      min-height: rem(220)
    }
  }
 

}

@media screen and (max-width: $smDesktopWidth) {

}

@media screen and (max-width: 840px) {
  .section2 {
    &__left__text {
      min-height: rem(290);
    }
    &__right__item {
      padding-left: rem(46);
    }
  }
}

@media screen and (max-width: $tableWidth) {
  .python {
    display: none;
  }
  .section2 {
    &__header {
      width: 55%;
    }
    &__left {
      &__content {
        flex-wrap: wrap;
        min-height: 470px;
      }
      &__text {
        width: 100%;
        min-height: 0!important;
      }
      &__head {
        text-align: center;
      }
      &__description {
        margin-top: rem(25);
        margin-bottom: rem(25);
      }
      &__img {
        width: 100%;
        img {
          width: 40%;
        }
      }
    }
    &__right {
      width: 40%;
      right: 0;
      
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .section2 {
    &__desktop {
      display: flex;
      flex-direction: column;
    }
    &__header {
      position: static;
      width: 100%;
    }
    &__left {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      order: 2;
      padding-right: rem(50);
      &__content {
        padding-top: rem(52);
        width: 100%;
        min-height: rem(630);
      }
      &__text {
      }
      &__head {
        text-align: center;
      }
      &__description {
        margin-top: rem(25);
        margin-bottom: rem(25);
      }
      &__img {
        img {
          width: 40%;
        }
      }
    }
    &__right {
      position: static;
      width: 100%;
      order: 1;
      padding-top: rem(30);
      padding-bottom: rem(30);
      &__round {
        display: none;
      }
    }
    &__button {
      margin: auto;
    }
  }
}

@media screen and (max-width: 400px) {
   
}