$default-font: "Gilroy", sans-serif;
$accent: orange;
$text: #2F3349;
$backgroundHead: #F7F7F7;
$backgroundFooter: #F1F1F1;
$backgroundCopy: #52566D;
$blue: #0075FF;
$pink: #FF5A96;
$white: #FFFFFF;
$gray: #777777;
$lightgray: #ECECEC;

$padding: 12px;
$abra: 1000px;

$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1366px;

$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1350px;


