table {
    border-collapse: collapse;
    width: auto;
    margin: auto;
       
}
td {
    border: 1px solid rgb(0, 0, 0);
    min-width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;

}  

tr:nth-child(1),
td:nth-child(1) {
    background: #e8edff;
}