// Font
$mainFont                : 'Proxima Nova', Helvetica, sans-serif;

// Size
$mainFontColor           : #fff;
$mainFontColor2           : #323232;
$mainFontSize            : 18px;

$desktopWidth            : 1366px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

