@import "utils/_reset";
@import "utils/_libs";
@import "utils/_vars";
@import "utils/_mixins";
@import "utils/_fonts";
@import "../libs/animate/animate.min.css";
@import "../libs/swiper/swiper.min.css";

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

// ::placeholder {
//   color: #666;
// }

// ::selection {
//   background-color: #fff;
//   color: #fff;
// }

input, textarea {
  border: #666 1px solid;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

a:link {
  color: $mainFontColor; 
}
a:visited {
  color: $mainFontColor;
}
a:hover {
  color: $mainFontColor; 
}
a:active {
  color: $mainFontColor; 
}

html {
	font-size: $mainFontSize;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 14px;
  }
  @media screen and (max-width: $smDesktopWidth) {
		font-size: 13px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 12px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 12px;
  }
  @media screen and (max-width: 400px) {
		font-size: 11px;
  }
}

body {
  font-family: $mainFont;
  color: $mainFontColor;
  height: 100%;
  overflow-x: hidden;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 999;
  transition: 0.3s;
  opacity: 1;
  display: none;
}

section {
  position: relative;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0 rem(40);
  z-index: 3;
  margin: 0 auto;
}

.button {
  width: rem(336);
  height: rem(50);
  background: #F75B04;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.08em;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
    background: #f56f27;
  }
}

.python {
  background: $mainFontColor2;
  position: absolute;
}

@media screen and (max-width: $desktopWidth) {
  .container {
    max-width: $smDesktopWidth;
  }
}
@media screen and (max-width: $smDesktopWidth) {
  
}
@media screen and (max-width: $tableWidth) {
  
}
@media screen and (max-width: $phoneWidth) {
  section {
    overflow-x: hidden;
  }
}



@import "modules/section1";
@import "modules/section2";
@import "modules/section3";
@import "modules/section4";


