@import "utils/_reset";
@import "utils/_libs";
@import "utils/_vars";
@import "utils/_mixins";
@import "utils/_fonts";

* {
  -webkit-tap-highlight-color: transparent;
}

::placeholder {
  line-height:normal;
}

a:link {
  color: #fff; 
}
a:visited {
  color: #fff;
}
a:hover {
  color: #fff; 
}
a:active {
  color: #fff; 
}

html {
  height: 100%;
}

body {
  font-family: $mainFont;
  height: 100%;
  overflow-x: hidden;
  background: #edeff1;
}

.container {
  position: relative;
  width: 100%;
  min-width: $desktopWidth;
  max-width: $desktopWidth;
  margin: 0 auto;
}

.os-scrollbar {
  margin-right: 3px!important;
 }
 .os-scrollbar-track {
   background: rgba(0, 0, 0, 0.05)!important;
 }
 .os-scrollbar-handle {
   background: rgba(0, 0, 0, 0.09)!important;
 }

@media screen and (max-width: $desktopWidth) {
  
}

@import "modules/_header";
@import "modules/_money";

