.post {
  // display: flex;
  margin-bottom: 20px;
}
.message {
  height: 30px;
  width: 400px;
  background: rgb(195, 189, 189);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
.like {
  cursor: pointer;
  color: #923e3e;
}